@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-gray-800;
  }
}

@layer components {
  .transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .hover\:scale-102:hover {
    transform: scale(1.02);
  }

  /* Modal Animation */
  .modal-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .modal-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }
}